<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tskery</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>
    <p id="count">
        Push count: {{count}}
    </p>
    <ul id="notes">
        {% for item in notes %}
        <li>
            <a href="{{ item.link }}">{{ item.title }}</a>
            <ul>
                <li>{{ item.detail }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>

</html>